// Navbar should look the same in every theme, so vars-common should be enough.
@use "vars-common" as *;

#user-links {
    top: 0;
    right: 0;
    position: absolute;
    color: #374151;
    padding-right: 10px;
    display: inline-flex;
    min-height: 100%;
    align-items: center;
    white-space: nowrap;

    a {
        color: #374151;
        transition: color 0.2s ease;
        
        &:hover {
            color: #0ea5e9;
        }
    }

    li {
        text-transform: none;
    }

    & > ul {
        display: block;
        margin: 0;

        & > li {
            & > a {
                display: block;
                padding: 0;
                height: 100%;

                & > span {
                    font-size: 13px;
                    padding: 10px 10px;
                    display: block;
                    white-space: nowrap;

                    & > img {
                        vertical-align: middle;
                        border-radius: 50%;
                        margin-right: 6px;
                    }

                    & > span {
                        vertical-align: middle;
                        color: #374151;
                    }
                }
            }

            & > ul {
                left: 0;
            }
        }
    }
}

#nav-background {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: #ffffff;
}

#nav-shadow {
    height: 3px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
}

#nav-container {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e5e7eb;
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;

    ul {
        margin: 0 0 0 -5px;
        padding: 0 0 0 1%;
        display: block;

        li {
            display: inline-block;
            color: #374151;
            text-transform: uppercase;
            position: relative;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 500;
            &.home-nav-element a {
                padding: 0;
                height: 44px;

                &:hover {
                    border-bottom: none;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            a, button {
                text-decoration: none;
                vertical-align: middle;
                color: #374151;
                padding: 14px 10px;
                height: 20px;
                display: inline-table;
                transition: all 0.2s ease;
                border-radius: 0.375rem;
                font-weight: 500;

                &:link {
                    color: #374151;
                }

                &:hover {
                    color: #0ea5e9;
                    background: #f0f9ff;
                    margin: 0;
                }

                &.active {
                    color: #ffffff;
                    background: #0ea5e9;
                    border: none;
                    padding: 14px 10px;
                }

                .nav-expand {
                    display: none;
                }
            }

            ul {
                padding: 0;
                position: absolute;
                left: 5px;
                display: none;
                color: #374151;
                background: #ffffff;
                margin: 0 !important;
                box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
                border-radius: 0.5rem;
                border: 1px solid #e5e7eb;
                overflow: hidden;

                li {
                    a.active {
                        border: none;
                        background: #f0f9ff;
                        color: #0ea5e9;
                    }
                }

                li {
                    display: block;

                    a, button {
                        padding: 10px 20px 10px 12px !important;
                        font-size: 0.875rem;
                        line-height: 18px;
                        display: block;
                        border-left: 3px solid transparent;
                        white-space: nowrap;
                        border-radius: 0;
                        
                        &:hover {
                            background: #f9fafb;
                            border-left-color: #0ea5e9;
                        }
                    }
                }
            }

            button {
                background: none;
                text-align: left;
                border: none;
                width: 100%;
                border-radius: 0;
                height: auto;
            }

            &:hover > ul, &:active > ul, &:focus > ul {
                display: block !important;
            }

            &.home-nav-element a:hover {
                border-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                background: transparent;
            }
        }
    }

    .nav-divider {
        width: 1px;
        vertical-align: middle;
        padding-left: 3px;
        display: inline-block;
        height: 32px;
        margin-right: 1px;
        border-right: 3px solid rgba(255, 255, 255, 0.15);
    }
}

#navicon {
    display: none;
}

@media (max-width: 760px) {
    #navigation {
        height: 36px;
    }

    #navicon {
        transition-duration: 0.25s;
        display: block;
        line-height: 26px;
        font-size: 2em;
        color: #FFF;
        padding: 0 0.25em;
        margin: 4px 0.25em;
        white-space: nowrap;
        float: left;

        &.hover {
            color: #4db7fe;
            text-shadow: 0 0 5px $highlight_blue;
            transition-duration: 0.25s;
        }
    }

    #nav-list {
        display: none;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 36px;
        background: #231f20;
        bottom: 0;
        width: 8em;
        left: 0;

        &.show-list {
            display: block;
        }

        li {
            display: block;

            a {
                display: block;

                .nav-expand {
                    float: right;
                    display: block;
                    height: inherit;
                    margin: (-13px) -7px;
                    padding: inherit;
                }
            }

            ul {
                left: 8em;
                top: 0px;

                &.show-list {
                    display: block;
                }
            }

            &.home-nav-element {
                display: none;
            }
        }
    }

    #user-links > ul > li > a > span {
        padding: 6px 8px;
    }
}

@media not all and (max-width: 760px) {
    #nav-list {
        li {
            &.home-menu-item {
                display: none;
            }

            &:not(:hover) > ul {
                display: none !important;
            }

            ul {
                left: 0 !important;
            }
        }
    }
}
