@use "vars" as *;

.h-scrollable-table {
    overflow-x: auto;
}

.table {
    border-spacing: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    background: white;
    border: 1px solid $color_primary25;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    &.striped tr:nth-child(2n) {
        background: $color_primary5;
    }

    th {
        height: 2em;
        color: $color_primary75;
        background-color: $color_primary5;
        border-color: $color_primary25;
        border-width: 0 1px 1px 0;
        border-style: solid;
        padding: 0.75rem 1rem;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-weight: 600;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    td {
        border-color: $color_primary25;
        border-width: 0 1px 1px 0;
        border-style: solid;
        padding: 0.75rem 1rem;
        vertical-align: middle;
        text-align: center;
    }

    tbody tr {
        transition: background-color 0.15s ease;
        
        &:hover {
            background: $color_primary5;
        }
    }

    // Border fixes
    th:first-child, td:first-child {
        border-left-width: 0;
    }

    tr:first-child th, tr:first-child td {
        border-top-width: 0;
    }
    
    tr:last-child td {
        border-bottom-width: 0;
    }
    
    th:last-child, td:last-child {
        border-right-width: 0;
    }

    // Rounded corners for <th>
    tr:first-child th:first-child {
        border-top-left-radius: $table_header_rounding;
    }

    tr:first-child th:last-child {
        border-top-right-radius: $table_header_rounding;
    }

    tbody tr:last-child th:first-child {
        border-bottom-left-radius: $table_header_rounding;
    }
}
