@use "vars" as *;

.social i {
    display: inline;
    font-size: 1.9em;
}

.facebook-this, .tweet-this {
    display: inline;
}

.tweet-this i {
    color: #55ACEE;
}

.facebook-this i {
    color: #133783;
}

.social {
    font-size: 1.3em;
    float: right;
}

// Modern flat buttons
.button, button, input[type=submit] {
    color: white !important;
    text-decoration: none !important;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 500;
    line-height: 1.5;
    background: #0ea5e9;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    display: block;
    border: 0;
    text-align: center;
    font-size: $base_font_size;
    transition: all 0.2s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &:hover {
        background: #0284c7;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
        transform: translateY(-1px);
    }

    &:active {
        background: #0369a1;
        transform: translateY(0);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    &.full {
        padding: 0.5rem 0;
    }

    &.disabled {
        background: #9ca3af !important;
        cursor: not-allowed;
        opacity: 0.6;
        
        &:hover {
            transform: none;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }
    }
}

.button-secondary {
    background: #f3f4f6 !important;
    color: #374151 !important;
    
    &:hover {
        background: #e5e7eb !important;
    }
    
    &:active {
        background: #d1d5db !important;
    }
}

.inline-button {
    display: inline;
    vertical-align: top;
    padding: 3px 6px;
}

input {
    &[type=text], &[type=password], &[type=email], &[type=number], &[type=url] {
        padding: 0.5rem 0.75rem;
        color: $color_primary100;
        background: $color_primary0;
        border: 1px solid $color_primary33;
        border-radius: 0.375rem;
        box-shadow: none;
        transition: all 0.2s ease;
        box-sizing: border-box;
        font-size: $base_font_size;

        &::placeholder {
            color: $color_primary50;
        }

        &:hover {
            border-color: $color_primary50;
        }

        &:focus {
            border-color: #0ea5e9;
            box-shadow: 0 0 0 3px rgba(14, 165, 233, 0.1);
            outline: 0;
        }
    }

    &[type=number] {
        padding: 0.375rem 0.5rem;
    }

    &[type=checkbox] {
        appearance: none;
        vertical-align: middle;
        border: 1.5px solid $color_primary50;
        background: $color_primary0;
        border-radius: 0.25rem;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;

        &:checked {
            background: #0ea5e9;
            border-color: #0ea5e9;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='white' d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3E%3C/svg%3E");
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        &:hover {
            border-color: #0ea5e9;
        }
    }
}

textarea {
    padding: 0.5rem 0.75rem;
    color: $color_primary100;
    background: $color_primary0;
    border: 1px solid $color_primary33;
    border-radius: 0.375rem;
    box-shadow: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    font-family: inherit;
    font-size: $base_font_size;
    
    &::placeholder {
        color: $color_primary50;
    }
    
    &:hover {
        border-color: $color_primary50;
    }
    
    &:focus {
        border-color: #0ea5e9;
        box-shadow: 0 0 0 3px rgba(14, 165, 233, 0.1);
        outline: 0;
    }
}

// Bootstrap-y copy button
.btn-clipboard {
    top: 0;
    right: 0;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: $color_primary50;
    cursor: pointer;
    background-color: $color_pageBg;
    border: 1px solid $color_primary25;
    border-radius: 0 $widget_border_radius;
    position: absolute;
    padding: 5px 8px;
}

.copy-clipboard {
    position: relative;
    margin-top: 1.5em;
}

// Bootstrap-y tabs
.ul_tab_a_active {
    color: $color_primary100;
    // Cover up the bottom border of active tabs with this color
    background: $color_pageBg;
    cursor: default;
    border: 1px solid $color_primary25;
    border-bottom-color: $color_pageBg;
    border-image: none;
}

.tabs {
    border-bottom: 1px solid $color_primary25;
    margin: 0 0 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .tab {
        .tab-icon {
            padding-right: 0.3em;
            color: $color_primary50;

            &.fa-plus {
                color: green !important;
            }
        }

        a, span {
            border-top-width: 3px !important;
        }

        &.active {
            a, span {
                border-top-color: $highlight_blue !important;
            }

            .tab-icon {
                color: $color_primary100;
            }
        }
    }

    h2 {
        color: $color_primary75;
    }

    > ul {
        margin: 0;
        margin-bottom: -1px;
        padding: 0;
        list-style: outside none none;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;

        > li {
            position: relative;
            display: block;

            &.active > a, &.active > span {
                @extend .ul_tab_a_active;

                &:hover {
                    @extend .ul_tab_a_active;
                }

                &:focus {
                    @extend .ul_tab_a_active;
                }
            }

            > a, > span {
                margin-right: 2px;
                line-height: 1.42857;
                border: 1px solid transparent;
                border-radius: $widget_border_radius $widget_border_radius 0 0;
                position: relative;
                display: block;
                padding: 10px 15px;
                color: $color_primary66;
                text-decoration: none;
                white-space: nowrap;
            }
        }
    }
}

// Bootstrap-y pagination
ul.pagination a:hover {
    background: rgba($color_primary100, 0.55);
}

ul.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;

    > {
        li {
            display: inline;

            &:first-child > {
                a, span {
                    margin-left: 0;
                    border-top-left-radius: $widget_border_radius;
                    border-bottom-left-radius: $widget_border_radius;
                }
            }

            &:last-child > {
                a, span {
                    border-top-right-radius: $widget_border_radius;
                    border-bottom-right-radius: $widget_border_radius;
                }
            }

            > {
                a, span {
                    position: relative;
                    float: left;
                    padding: 4px 12px;
                    line-height: 1.42857;
                    text-decoration: none;
                    color: $color_primary0;
                    background-color: $color_primary75;
                    border: 1px solid $color_primary50;
                    margin-left: -1px;
                }
            }
        }

        .disabled-page > {
            a, span {
                color: $color_primary50;
            }
        }

        .active-page > {
            a, span {
                z-index: 2;
                color: #FFF;
                background-color: $highlight_blue;
                border-color: transparent;
                cursor: default;
            }
        }
    }
}

.top-pagination-bar {
    margin: 11px 0 7px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bottom-pagination-bar {
    margin-top: 10px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: $widget_border_radius;
}

.alert-info {
    color: $color_info100;
    background-color: $color_info25;
    border-color: $color_info50;
}

.alert-warning {
    color: $color_warning100;
    background-color: $color_warning25;
    border-color: $color_warning50;
}

.alert-danger {
    color: $color_danger100;
    background-color: $color_danger25;
    border-color: $color_danger50;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: $color_primary100;
    filter: alpha(opacity=20);
    opacity: 0.2;
}

a.close {
    text-decoration: none !important;
    font-size: 18px !important;
    line-height: 1;

    &:hover {
        color: $color_primary100;
    }
}

.close {
    &:focus, &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}

.badge {
    min-width: 10px;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #e84848;
    border-radius: 10px;
    box-sizing: border-box;
}

.form-submit-group {
    border-top: 1px solid rgba($color_primary100, 0.1);
    margin-top: 0.8em;
    padding-top: 0.5em;
    text-align: right;
}

.sidebox {
    border-radius: 0.5rem;
    padding: 0 !important;
    padding-bottom: 1.5em !important;
    background: white;
    border: 1px solid $color_primary25;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebox h3 {
    margin: 0;
    background: $color_primary5;
    border-bottom: 1px solid $color_primary25;
    color: $color_primary75;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sidebox h3 .fa {
    color: $color_primary50;
    float: right;
    margin: 0;
}

.sidebox-content {
    border: none;
    margin: 0;
    padding: 1rem 1.25rem;

    &.sidebox-table {
        border: none;
        padding: 0;

        .table {
            margin: 0 !important;
            border: none;
            box-shadow: none;
        }
    }
}

.ws-closed {
    position: sticky;
    top: 42px;
    background: $announcement_red;
    border-radius: 5px 5px 0 0;
    display: none;
}

.ws-closed a {
    display: block;
    padding: 7px 0;
    text-align: center;
    color: white;
    font-weight: 600;
}

.semibold {
    font-weight: 600;
}

.messages {
    list-style-type: none;
    padding: 0;

    li {
        padding: 1em 1.5em;
        margin-bottom: 1em;
        border: 1px solid transparent;
        border-radius: 5px;

        &.debug {
            color: $color_primary75;
            background-color: $color_primary10;
            border-color: $color_primary25;
        }

        &.info {
            color: $color_info100;
            background-color: $color_info25;
            border-color: $color_info50;
        }

        &.success {
            color: $color_success100;
            background-color: $color_success25;
            border-color: $color_success50;
        }

        &.warning {
            color: $color_warning100;
            background-color: $color_warning25;
            border-color: $color_warning50;
        }

        &.error {
            color: $color_danger100;
            background-color: $color_danger25;
            border-color: $color_danger50;
        }
    }
}

details {
    border: 1px solid $color_primary25;
    background: $color_primary5;
    padding: 5px 10px;
    border-radius: 4px;
}
