{% extends "base.html" %}

{% block js_media %}
    {% include "problem/submit-js.html" %}
{% endblock %}

{% block media %}
    {{ form.media.css }}
    <style>
        {% if not request.user.is_superuser %}
        /* Safety net: prevent the hidden textarea from receiving a
           browser-native text selection (does not block Ace's own
           selection model, which is what users interact with). */
        .ace_text-input {
            user-select: none;
            -webkit-user-select: none;
        }
        {% endif %}
    </style>
{% endblock %}

{% block body %}
    {% include "problem/submit-form.html" %}
{% endblock %}
