<script src="{{ static('libs/featherlight/featherlight.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    function rename_martor_widget(widget, old_name, new_name) {
        function rename_data(data_name, prefix) {
            widget.find('[data-' + data_name + '=' + prefix + old_name + ']')
                .data(data_name, prefix + new_name)
                .attr('data-' + data_name, prefix + new_name);
        }
        function rename_id(prefix) {
            widget.find('#' + prefix + old_name).prop('id', prefix + new_name);
        }
        function rename_class(prefix) {
            widget.find('.' + prefix + old_name).removeClass(prefix + old_name).addClass(prefix + new_name);
        }
        rename_data('tab', 'editor-tab-');
        rename_data('tab', 'preview-tab-');
        rename_data('field-name', '');
        rename_id('id_');
        rename_id('martor-');
        rename_class('martor-field-');
        rename_class('main-martor-');
        widget.find('.main-martor').martor();
    }

    $(document).ready(function () {
        window.reply_comment = function (parent) {
            var $comment_reply = $('#comment-' + parent + '-reply');
            var reply_id = 'reply-' + parent;
            if ($comment_reply.find('#' + reply_id).length == 0) {
                var $reply_form = $('#new-comment').clone(false).prop('id', reply_id);
                $reply_form.find('h3').html({{ _('Replying to comment')|htmltojs }});
                $reply_form.prepend('<a class="close">x</a>');
                $reply_form.appendTo($comment_reply);
                $reply_form.find('form.comment-submit-form input#id_parent').val(parent);
                rename_martor_widget($reply_form, 'body', reply_id);
                ace.edit('martor-' + reply_id).setValue('');
            }
            $comment_reply.fadeIn();

            $('html, body').animate({
                scrollTop: $comment_reply.offset().top - $('#navigation').height() - 4
            }, 500);
        };

        $(document).on('click', '.close', function () {
            $(this).closest('.reply-comment').fadeOut();
        });

        function update_math($comment) {
            if ('MathJax' in window) {
                var $body = $comment.find('.comment-body');
                MathJax.typesetPromise([$body[0]]).then(function () {
                    $body.find('.tex-image').hide();
                    $body.find('.tex-text').show();
                });
            }
        }

        window.show_revision = function (comment_id, offset) {
            var $comment = $("#comment-" + comment_id);

            // If .comment-body is hidden, then this is a bad comment that the user has not clicked
            // Thus the revision retrieval should do nothing
            if (!$comment.find('.comment-body').is(':visible'))
                return;

            var cur_revision = parseInt($comment.attr("data-revision"));
            var max_revision = parseInt($comment.attr("data-max-revision"));
            var revision_ajax = $comment.attr("data-revision-ajax");
            var show_revision = cur_revision + offset;

            // Do nothing if desired revision is out of bounds
            if (show_revision < 0 || show_revision > max_revision)
                return;

            $comment.attr("data-revision", show_revision);

            $.get(revision_ajax, {
                revision: show_revision
            }).done(function (body) {
                $comment.find('.previous-revision').css({ visibility: show_revision == 0 ? 'hidden' : '' });
                $comment.find('.next-revision').css({ visibility: show_revision == max_revision ? 'hidden' : '' });
                var $content = $comment.find('.content').html(body);

                var edit_text = {{ _('edit {edits}')|htmltojs }}.replace("{edits}", show_revision);

                if (show_revision == 0) {
                    edit_text = {{ _('original')|htmltojs }};
                } else if (show_revision == max_revision && max_revision == 1) {
                    edit_text = {{ _('edited')|htmltojs }};
                }

                $comment.find('.comment-edit-text').text(' ' + edit_text + ' ');
                update_math($content);
                if (window.add_code_copy_buttons)
                    window.add_code_copy_buttons($content);
            });
        };

        function ajax_vote(url, id, delta, on_success) {
            return $.ajax({
                url: url,
                type: 'POST',
                data: {
                    id: id
                },
                success: function (data, textStatus, jqXHR) {
                    var score = $('#comment-' + id + ' .comment-score').first();
                    score.text(parseInt(score.text()) + delta);
                    if (typeof on_success !== 'undefined')
                        on_success();
                },
                error: function (data, textStatus, jqXHR) {
                    alert({{ _('Could not vote: {error}')|htmltojs }}.replace('{error}', data.responseText));
                }
            });
        }

        var get_$votes = function (id) {
            var $comment = $('#comment-' + id);
            return {
                upvote: $comment.find('.upvote-link').first(),
                downvote: $comment.find('.downvote-link').first()
            };
        };

        window.comment_upvote = function (id) {
            ajax_vote('{{ url('comment_upvote') }}', id, 1, function () {
                var $votes = get_$votes(id);
                if ($votes.downvote.hasClass('voted'))
                    $votes.downvote.removeClass('voted');
                else
                    $votes.upvote.addClass('voted');
            });
        };

        window.comment_downvote = function (id) {
            ajax_vote('{{ url('comment_downvote') }}', id, -1, function () {
                var $votes = get_$votes(id);
                if ($votes.upvote.hasClass('voted'))
                    $votes.upvote.removeClass('voted');
                else
                    $votes.downvote.addClass('voted');
            });
        };

        var $comments = $('.comments');
        $comments.find('a.hide-comment').click(function (e) {
            e.preventDefault();
            if (!(e.ctrlKey || e.metaKey || confirm({{ _('Are you sure you want to hide this comment?')|htmltojs }})))
                return;

            var id = $(this).attr('data-id');
            $.post('{{ url('comment_hide') }}', { id: id }).then(function () {
                $('#comment-' + id).remove();
                $('#comment-' + id + '-children').remove();
            }).catch(function () {
                alert({{ _('Could not hide comment.')|htmltojs }});
            });
        });

        $comments.find('a.edit-link').featherlight({
            afterOpen: function () {
                var $widget = $('.featherlight #comment-form-body');
                rename_martor_widget($widget, 'body', 'edit');
                $('#comment-edit').submit(function (event) {
                    event.preventDefault();
                    var id = $('#comment-edit').find('.comment-id').text();
                    var readback = $('#comment-edit').find('.read-back').text();
                    $.post($(this).attr('action'), $(this).serialize()).done(function (data) {
                        $.featherlight.current().close();
                        $.ajax({
                            url: readback
                        }).done(function (data) {
                            var $comment = $('#comment-' + id);
                            var $area = $comment.find('.comment-body').first();
                            $area.html(data);
                            update_math($comment);
                            if (window.add_code_copy_buttons)
                                window.add_code_copy_buttons($area);
                            var $edits = $comment.find('.comment-edits').first();
                            $edits.text({{ _('updated')|htmltojs }});
                        }).fail(function () {
                            alert({{ _('Failed to update comment body.')|htmltojs }});
                        });
                    }).fail(function (data) {
                        alert({{ _('Could not edit comment: {error}')|htmltojs }}.replace('{error}', data.responseText));
                    });
                });
            },
            variant: 'featherlight-edit'
        });

        $('votes-link').find('a[data-featherlight]').featherlight();

        var $root = $('html, body');
        $comments.find('a.comment-link').click(function () {
            var href = $.attr(this, 'href');
            $root.animate({
                scrollTop: $(href).offset().top
            }, 500, function () {
                window.location.hash = href;
            });
            return false;
        });

        $('img.unveil').unveil(200);

        window.comment_show_content = function (comment_id) {
            var $comment = $('#comment-' + comment_id);
            $comment.find('.comment-body').show();
            $comment.find('.bad-comment-body').hide();
        };

        // Long comment truncation - 200px height threshold
        function truncate_long_comments() {
            const MAX_HEIGHT = 200; // pixels

            $('.comment-body').each(function () {
                var $body = $(this);
                var $comment = $body.closest('.comment');

                // Skip if already processed or is a bad comment
                if ($body.data('truncated-processed') || $comment.find('.comment-display').hasClass('bad-comment')) {
                    return;
                }

                $body.data('truncated-processed', true);

                // Check if content is too long
                if ($body.height() > MAX_HEIGHT) {
                    var commentId = $comment.attr('id').replace('comment-', '');

                    // Wrap content in a container
                    $body.wrapInner('<div class="comment-body-content"></div>');
                    var $content = $body.find('.comment-body-content');

                    // Add truncated class and toggle button
                    $content.addClass('comment-truncated');
                    $body.append(
                        '<div class="comment-show-more">' +
                        '<a href="javascript:void(0)" class="show-more-link" data-comment-id="' + commentId + '">' +
                        {{ _('Show more')|htmltojs }} +
                        '</a></div>'
                    );
                }
            });
        }

        // Handle show more/less toggle
        $(document).on('click', '.show-more-link', function () {
            var $link = $(this);
            var commentId = $link.data('comment-id');
            var $comment = $('#comment-' + commentId);
            var $content = $comment.find('.comment-body-content');

            if ($content.hasClass('comment-truncated')) {
                $content.removeClass('comment-truncated').addClass('comment-expanded');
                $link.text({{ _('Show less')|htmltojs }});
            } else {
                $content.removeClass('comment-expanded').addClass('comment-truncated');
                $link.text({{ _('Show more')|htmltojs }});

                // Scroll to comment top
                $('html, body').animate({
                    scrollTop: $comment.offset().top - $('#navigation').height() - 10
                }, 300);
            }
        });

        // Calculate Wilson score on frontend (lower bound of 95% confidence interval)
        // This avoids backend computation and ranks comments on the current page only
        function calculateWilsonScore(upvotes, downvotes) {
            var n = upvotes + downvotes;
            if (n === 0) return 0;

            var z = 1.96; // 95% confidence
            var phat = upvotes / n;

            // Wilson score interval lower bound
            var score = (phat + z*z/(2*n) - z * Math.sqrt((phat*(1-phat)+z*z/(4*n))/n)) / (1+z*z/n);
            return Math.max(0, score);
        }

        // Sort top-level comments by Wilson score (best first) - frontend only
        function sort_comments_by_wilson_score() {
            var container = $('.top-level-comments');
            if (container.length === 0) return;

            var topLevelComments = container.children().toArray();
            var comments = [];

            // Group each comment with its children (replies, etc.)
            for (var i = 0; i < topLevelComments.length; ++i) {
                var id = $(topLevelComments[i]).attr('id');
                var comment = [topLevelComments[i]];

                // Collect all related elements (children, reply forms)
                while (i + 1 < topLevelComments.length &&
                    $(topLevelComments[i + 1]).attr('id').startsWith(id + '-')) {
                    comment.push(topLevelComments[i + 1]);
                    i++;
                }
                comments.push(comment);
            }

            // Sort by Wilson score calculated from upvotes/downvotes
            comments.sort(function (a, b) {
                var $a = $(a[0]);
                var $b = $(b[0]);

                var scoreA = calculateWilsonScore(
                    parseInt($a.data('upvotes') || 0),
                    parseInt($a.data('downvotes') || 0)
                );
                var scoreB = calculateWilsonScore(
                    parseInt($b.data('upvotes') || 0),
                    parseInt($b.data('downvotes') || 0)
                );

                // Higher score comes first
                if (scoreA !== scoreB) {
                    return scoreB - scoreA;
                }

                // If scores are equal, sort by time (newer first)
                var timeA = new Date($a.data('time') || 0);
                var timeB = new Date($b.data('time') || 0);
                return timeB - timeA;
            });

            // Re-render sorted comments
            container.empty();
            comments.forEach(function (comment) {
                comment.forEach(function (el) {
                    container.append(el);
                });
            });
        }

        // Initialize on page load
        sort_comments_by_wilson_score();
        truncate_long_comments();

        var code_regex = [/input\(/, /#include/, /void\s+main/, /fn\s+main/, /func\s+main/];
        $(document).on('click', 'form.comment-warn-code .button[type=submit]', function (e) {
            var text = $(this).parents('form').find('#id_body').val();
            if (code_regex.some(function (regex) { return regex.test(text); })) {
                if (!confirm({{ _('Looks like you\'re trying to post some source code!\n\nThe comment section is not for posting source code.\nIf you want to submit your solution, please use the "Submit solution" button.\n\nAre you sure you want to post this?')|htmltojs }})) {
                    e.preventDefault();
                }
            }
        });
    });
</script>
